name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install generator
        run: |
          npm install -g github-contribution-grid-snake

      - name: Generate snake SVG
        run: |
          mkdir -p dist
          github-contribution-grid-snake \
            --username evgeniimatveev \
            --output dist/snake.svg \
            --color-pattern github-dark

      - name: Commit snake
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add dist/snake.svg
          git commit -m "chore: update snake" || echo "No changes to commit"
          git push origin main
