name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # --- DARK SVG ---
      - name: Generate snake (dark SVG)
        uses: evgeniimatveev/snk@main
        with:
          github_user_name: evgeniimatveev
          outputs: |
            dist/snake-dark.svg?palette=github-dark

      # --- LIGHT SVG ---
      - name: Generate snake (light SVG)
        uses: evgeniimatveev/snk@main
        with:
          github_user_name: evgeniimatveev
          outputs: |
            dist/snake-light.svg?palette=github-light

      - name: Commit and push snake
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

          git add dist/snake-dark.svg dist/snake-light.svg || true

          if git diff --cached --quiet; then
            echo "No changes to commit"
            exit 0
          fi

          git commit -m "chore: update snake"
          git push origin main
